
.outer-border {
    border: 2px solid black;
    padding: 20px;
    text-align: center;
  }

  .inner-border {
    border: 2px solid #ced4da;
    padding: 15px;
    display: flex;

    
  }

  .image-container {
    border: 1px solid black;
    padding: 5px ;
    text-align: center;
  }

  .profile-pic {
    max-width: 100%;
    border-radius: 50%;
  }

  .registration-form {
    padding: 10px;
    flex: 1;
  }
  